<head>
  <link
    rel="stylesheet"
    href="https://uicdn.toast.com/editor/latest/toastui-editor-viewer.min.css"
  />
</head>

<body>
  <div id="nav-bar">
    <app-nav></app-nav>
  </div>

  <div>
    <div style="width: 80%; margin: auto;">
      <h2>제목 : {{ post.title }}</h2>
      <br />

      <p>작성자 : {{ userNameByEmailFunc(post.writer) }}</p>
      <br />
      <h4>내용</h4>
      <div style="border: solid 1px;">
        <div id="viewer"></div>
      </div>
      <button
        type="button"
        mdbBtn
        mdbWavesEffect
        class="#eeeeee grey lighten-5"
        (click)="goBack()"
        style="margin-top: 20px; float: left;"
      >
        나가기
      </button>
      <span>
        <button
          *ngIf="isWriter()"
          type="button"
          class="btn btn-light"
          style="margin-top: 20px; float: right;"
          (click)="postUpdate(id)"
        >
          수 정
        </button>
        <button
          *ngIf="isWriter()"
          type="button"
          class="btn btn-warning"
          style="margin-top: 20px; float: right;"
          (click)="postDelete(id)"
        >
          삭 제
        </button></span
      >
    </div>
  </div>
</body>
